

.card {
  width: 300px;
  background: transparent;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.04);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
  color: #000;


  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 25px rgba(0,0,0,0.1);
  }
}

.favorite {
  align-self: flex-end;
  cursor: pointer;
  margin-bottom: 10px;

  img {
    width: 30px;
    height: 30px;
  }
}

.category_page{
  font-size: 1000px;
}



.card h5 {
  font-size: 20px;
  text-align: center;
}

.card .price-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}


.card .price-container div {
  display: flex;
  flex-direction: column;
}

.card .plus {
  width: 40px;
  height: 40px;
  cursor: pointer;
}


.comfortaa{
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300,400,500,600,700;
  font-style: normal;
}



.card{
  display: grid;
  grid-template-columns: repeat(1, 240px);
  margin: 0;
  background: transparent;
  border: 2px solid #fff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 300px;
  color: #fff;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}



.tovar_image{
  max-width: 240px;
  border-radius: 20px;
  align-items: center;

} 

.name_tovar{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;

  font-weight: 500;
}




@media screen and (max-device-width: 1430px) {
  .card{
  grid-template-columns: repeat(1, 200px);
  max-width: 240px;
  }
  
  .tovar_image{
    max-width: 200px;
  }
}

@media screen and (max-device-width: 940px) {
  .container_main{
    justify-content: center;
    gap: 15px;
    margin-top: 40px;
    grid-template-columns: repeat(2, 300px);
  }
}

@media screen and (max-device-width: 890px) {
  .container_main{
    justify-content: center;
    gap: 15px;
    margin-top: 40px;
    grid-template-columns: repeat(2, 300px);
  }
}

@media screen and (max-device-width: 630px) {
  .container_main{
    grid-template-columns: repeat(2, 200px);
    
    justify-content: center;
  }
  .tovar_image{
    max-width: 170px;
  }
  .card{
    grid-template-columns: repeat(1, 170px);
    max-width: 200px;
  }
  .card h5{
    font-size: 15px;
  }
}
  

@media screen and (max-device-width: 500px) {
  .container_main{
    grid-template-columns: repeat(2, 200px);
    
    justify-content: center;
  }
  .tovar_image{
    max-width: 170px;
  }
  .card{
    grid-template-columns: repeat(1, 170px);
    max-width: 200px;
  }
  .price-container{
    font-size: 14px;
  }

}

@media screen and (max-device-width: 460px) {
  .container_main{
    grid-template-columns: repeat(2, 180px);
  }
  .tovar_image{
    max-width: 150px;
  }
  .card{
    grid-template-columns: repeat(1, 150px);
    max-width: 180px;
    padding: 10px;
  }
  .price-container{
    font-size: 12px;
  }
}


