@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');



*{
  font-family: 'Comfortaa', sans-serif;
}


.page_name{
  font-size: 56px;
  color: #fff;
  justify-content: center;
  display: flex;
  padding: 65px 0;
  height: 100%;
  font-weight: 400;
}

.home_page_fio{
  font-size: 56px;
  color: #fff;
  justify-content: center;
  display: flex;
  text-align: center;  
  padding: 65px 0;
  font-weight: 400;
  line-height: 1.3;
}


.container_home{
  justify-content: center;
  align-items: center;
  display: grid;
}


.category_page{
  font-size: 75px;
  align-items: center;
  color: #fff;
  justify-content: center;
  display: grid;
  padding-top: 30px;
}

.home_name{
  margin-top: 100px;
  padding-top: 40px;
  color: #000;
  justify-content: center;
  display: flex;
}


.home_about{
  font-size: 26px;
  color: #fff;
  justify-content: center;
  display: flex;
  text-align: center; 
  font-weight: 400;
  padding: 30px 60px;
  line-height: 1.2;
}

.home_about:nth-child(4){
  font-size: 26px;
  color: #fff;
  display: flex;
  font-weight: 400;
  padding: 30px 0 130px 0;
  line-height: 1.2;
}

.homeLinks{
  padding-bottom: 20px;
  gap: 60px;
  justify-content: space-around;
  display: flex;
  text-align: center; 
  line-height: 1.2;
}

.home_link{
  font-size: 26px;
  color: #fff;
  font-weight: 400;
  display: inline-block;
}

.otstup{
  padding-bottom: 100px;
}

.phone_button {
  display: inline-block;
  padding: 15px;
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 600;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  }

  &:active {
    transform: translateY(-2px);
  }
}

.home_link:hover{
  display: inline-block;
  padding-bottom: 2px;
}

.main_card{
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  gap: 30px 70px;
}




html{
    box-sizing: border-box ;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}


a{
    color: inherit;
    text-decoration: none;
}


button{
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

ul{
    list-style: none;
}


body{
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

h1,h2,h3,h4,h5{
    padding: 0;
    margin: 0;
    font-weight: 100;
    font-size: auto;
}






@media screen and (max-device-width: 1425px) {
 
  .category_page{
    font-size: 65px;
  }
}

@media screen and (max-device-width: 1190px) {
  .category_page{
    font-size: 55px;
  }
  .main_card{
  grid-template-columns: repeat(3, auto);
  } 
  .home_page_fio{
    font-size: 30px;
    padding: 30px 60px;
  }
    .home_page_fio:nth-child(2){
    padding: 30px 30px;
  }
  .home_about{
    font-size: 20px;
    color: #fff;
    justify-content: center;
    display: flex;
    text-align: center; 
    font-weight: 400;
    padding: 30px 60px;
    line-height: 1.2;
  }
  .home_about:nth-child(4){
    font-size: 20px;
    padding: 30px 60px;
  }
    .home_link{
    font-size: 19px;
    padding: 15px 0;
  }
}

@media screen and (max-device-width: 890px){
  .main_card{
    margin-top: 0px;
    gap: 20px;
  }
  .homeLinks{
  display: grid;
  gap: 20px;
  }
  .home_link{
    font-size: 22px;
  }
}

@media screen and (max-device-width: 840px) {
  .category_page{
    font-size: 35px;
  }
  .main_card{
  grid-template-columns: repeat(2, auto);
  } 
}

@media screen and (max-device-width: 500px) {
  .category_page{
    font-size: 30px;
    padding: 0px;
  }
  
  .home_link{
    font-size: 20px;
  }
}

@media screen and (max-device-width: 500px) {
  .main_card{
    gap: 10px;
  }
}

@media screen and (max-device-width: 450px) {

  
  .home_page_fio{
    font-size: 19px;
    padding: 25px 20px;
  }
    .home_page_fio:nth-child(2){
    padding: 10px 30px;
  }
  .home_about{
    font-size: 16px;
    padding: 25px 20px;
  }
  .home_about:nth-child(4){
    font-size: 19px;
    padding: 25px 20px;
  }
    .home_link{
    font-size: 18px;
    padding: 15px 0;
  }
}

@media screen and (max-device-width: 390px) {
  .main_card{
    grid-template-columns: repeat(1, auto);
  }
}


@media screen and (max-device-width: 390px) {
  .category_page{
    font-size: 20px;
    padding: 0px;
  }
}