@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');


.overlay{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.1);
  z-index: 0
  ;
}

.drawer{
  position: absolute;
  width: 385px;
  background: #fff;
  right: 0;
  z-index: 8;
  height: 100%;
  box-shadow: -10px 4px 24px rgba(0,0,0,0.1);
  h2{
    margin: 0;
  }
}






html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

/* Фон */
body {
  background-image: url('./img/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* важно */
}

/* Отдельный слой блюра */
.blur-layer {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(25px);
  background: rgba(255, 255, 255, 0.05);
  z-index: -1;
}


body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url('./img/background.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(25px);
  transform: scale(1.1);
  z-index: -2;
}

*{
  font-family: 'Comfortaa', system-ui;
}





.category_page{
  padding: 20px;
  font-size: 100px;
}









.header{
  padding: 25px 0;
  border-bottom: 2px solid #eaeaea;
  align-items: center;
  margin: 0px;
}


.container{
  justify-content: center;
  display: flex;
}


.headerInner{
  justify-content: space-between;
  display: flex;
  gap: 60px;
}

.icons_top{
  height: 45px;
}


.comfortaa{
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300,400,500,600,700;
  font-style: normal;
}


.menu_items{
  display: flex;
  gap: 40px;
}

.menu{
  max-width: 200px;
  height: 50px;
}


.logo{
  font-size: 55px;
  color: #fff;
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  padding: 10px;
}

.menu_lis{
  max-width: 200px;
  height: 50px;
}























html, body {
  height: 100%;      // важно для полной высоты
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.wrapper {
  min-height: 100vh;           // растяг
  background: rgba(255, 255, 255, 0.1); // лёгкий белый слой для эффекта
}






.icons_top{
  height: 45px;
}


.comfortaa{
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300,400,500,600,700;
  font-style: normal;
}



.menu_items{
  display: flex;
  gap: 40px;
}

.logo{
  font-size: 55px;
  color: #fff;
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
}

.page_name{
  font-size: 56px;
  color: #fff;
  justify-content: center;
  display: flex;
  padding: 45px 0;
}



.tovar_image{
  max-width: 172px;
  border-radius: 20px;
} 

.name_tovar{
  max-width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;

  font-weight: 500;
}

.buttons{
  align-items: center;
  justify-content: center;
  display: flex;
  padding-top: 10px;
}

.more{
  border: 1px solid #000;
  color: #000;
  background-color: #fff;
  font-size: 17px;
  border-radius: 20px;
  padding: 7px;
}
.more:hover{
  border: 1px solid #fff;
  color: #fff;
  background-color: #000;
  font-size: 17px;
  border-radius: 20px;
  padding: 7px;
}

.grid_description{
  padding-left: 10% ;
  align-items: center;
  justify-content: start;
  gap:20px;
  display: grid;
  padding: 10px 0;
  grid-template-columns: repeat(2, auto);
  font-size: 18px;
}


html{
    box-sizing: border-box ;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}


a{
    color: inherit;
    text-decoration: none;
}


button{
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

ul{
    list-style: none;
}



h1,h2,h3,h4,h5{
    padding: 0;
    margin: 0;
    font-weight: 100;
    font-size: auto;
}  






@media screen and (max-device-width: 1100px) {
  .header{
    margin: 0;
    gap: 20px;
    font-size: 40px;
    padding-left: 17px;
  }
  .header__inner{
    gap: 20px;
  }
  .h2{
    font-size: 50;
  }
  
  .container_main{
    justify-content: center;
    gap: 15px;
    margin-top: 40px;
    grid-template-columns: repeat(3, 300px);
  }
}

@media screen and (max-device-width: 940px) {
  .container_main{
    justify-content: center;
    gap: 15px;
    margin-top: 40px;
    grid-template-columns: repeat(2, 300px);
  }
}


@media screen and (max-device-width: 640px) {
  .page_name{
    padding-top: 20px;
  }
  .container_tovar{
    max-width: 187px;
  }
  .container_main{
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
    grid-template-columns: repeat(2, 200px);
  }
  .name_tovar{
    font-size: 14px;
  }
  .tovar_image{
    max-width: 152px;
  }
  .name_tovar{
    max-width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
  }
  .logo{
    font-size: 35px;
  }
}

@media screen and (max-device-width: 500px) {
  .icons_top{
    max-width: 30px;
  }
  .menu_items{
    gap:20px
    }
  .page_name{
    padding-top: 20px;
    font-size: 40px;
  }
  .container_tovar{
    max-width: 220px;
  }
  .container_main{
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
    grid-template-columns: repeat(2, 190px);
  }
  .name_tovar{
    font-size: 14px;
  }
  .footer_logo{
    font-size: 30px;
  }
  .icons_bottom{
    line-height: 1;
  }
}

@media screen and (max-device-width: 400px) {
  .container_main{
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
    grid-template-columns: repeat(1, auto);
  }
  .container_tovar{
    display: grid;
    grid-template-columns: repeat(2, auto);
    text-align: center;
    margin: 0;
    gap: 7px;
    max-width: 300px;
    color: #fff;
    align-items: top;
    justify-content: center;
    padding: 20px 20px;
  }
  .grid_description{
    align-items: center;
    justify-content: start;
    text-align: center;
    gap:5px;
    display: grid;
    padding: 10px 0;
    grid-template-columns: repeat(1, 100%);
  }
  .main_grid_description{
    display: flex;
    justify-content: center;
  }
  .img_price,.img_weight{
    padding-left: 35%;
  }
}